$lightgray: #999999;
$darkgray : #333333;
$purple : rgb(77, 58, 226);
$white    : #FFFFFF;

$main-colour      : $darkgray;
$secondary-colour : #ff8dff;
$accent-colour    : #5d9bff;
$background-colour: #FFF;

$text-dark : $darkgray;
$text-light: $white;
$selection : #ABA7E8;

$base-font-size    : 18px;
$base-line-height  : 1.6;
$success-colour    : #83CC61;
$bradius           : 2px;
$side-padding-small: 1.5rem;
$s-animation       : 0.250s ease-in-out;
